<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LabPID.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="pid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <LabPID.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>..\Log</value>
            </setting>
            <setting name="AppendLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowChart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Color1" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Color2" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Color3" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ChartType" serializeAs="String">
                <value>Spline</value>
            </setting>
            <setting name="OutTermColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="frmInfoSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmTermSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="chrtShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Color4" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="EnableHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastProfile" serializeAs="String">
                <value />
            </setting>
        </LabPID.Properties.Settings>
        <pid.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>..\Log</value>
            </setting>
            <setting name="AppendLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowChart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Color1" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Color2" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="Color3" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ChartType" serializeAs="String">
                <value>Spline</value>
            </setting>
            <setting name="OutTermColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="frmInfoSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="frmTermSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="chrtShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Color4" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="EnableHistory" serializeAs="String">
                <value>False</value>
            </setting>
        </pid.Properties.Settings>
    </userSettings>
</configuration>
